body{
    background-color:beige;
    background-image: url(7.jpg);
    background-size: cover;
    background-position: center;
}

*{
    padding: 0%;
    margin: 0%;
}
nav ul{
    display: flex;
    align-items: center;
    padding: 24px,24px;
    list-style-type: none;  
    color: white;
    background-color: black;
    height: 74px;
    text-align: right;
}

nav ul li{
    display: flex;
    align-items: center;
    margin: 12px;
    font-weight: bolder;
}

.brand{
    font-size: x-large;
}

nav img{
    margin: 12px;
}

.link{
    color: white;
    text-decoration: none;
}

.main{
    position:flex;
    justify-content: center;
    left: 20px;
    background-color:transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 65vh;
    width: 40%;
    margin: auto;
    margin-top: 65px;
    border-radius: 24px;
}
.main h1{
    text-align: center;
    font-size: 50px;
    margin: 12px;
    color: white;
    margin-bottom: 24px;
}

.input{
    margin: 12px;
}

.input input{
    width: 90%;
    height:100%;
    background-color: transparent;
    border: none;
    outline:none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    color: white;
    padding: 20px 20px;
    margin-bottom: 24px;
}
.input input::placeholder{
    color: white;
    
}
.main .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    margin: 12px;
    color: white;
}
.remember label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember a{
    color: white;
    text-decoration: none;
}
.remember a:hover{
    text-decoration: underline;
}

.main .button{
    width: 90%;
    padding: 8px;
    margin-left: 24px;
    background-color: white;
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bolder;
}
.main .button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.main .sign{
    text-align: center;
    color: white;
}
.main .sign a{
    color: white;
    text-decoration: none;
}
.main .sign a:hover{
    text-decoration: underline;
}